{% extends "account/base.html" %}

{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block custom_css %}
  <style>
    .custom-overlay {
      background-color: #020d18;
      width: 100%;
      height: 100%;
      -moz-opacity: 0;
      -khtml-opacity: 0;
      -webkit-opacity: 0;
      opacity: 1;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
      filter: alpha(opacity=0);
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-transition: all 0.35s ease-out;
      -moz-transition: all 0.35s ease-out;
      -o-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out;
    }

    .custom-overlay .login-content {
      width: 500px;
      padding: 50px;
      border: 1px solid #020d18;
      height: auto;
      background-color: #020d18;
    }

    .custom-overlay .login-content .remember {
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      font-family: 'Nunito', sans-serif;
      font-size: #abb7c4;
      color: #222222;
      font-weight: 600;
      text-transform: none;
    }

    .custom-overlay .login-content label {
      font-family: 'Dosis', sans-serif;
      font-size: 14px;
      color: #cccccc;
      font-weight: bold;
      text-transform: uppercase;
      width: auto;
      margin-bottom: 25px;
    }

    .custom-overlay .login-content button {
      font-family: 'Dosis', sans-serif;
      font-size: 14px;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      border: none;
      background-color: #dd003f;
      height: 42px;
      width: 100%;
      cursor: pointer;
    }

    .custom-overlay .login-content label input {
      font-family: 'Dosis', sans-serif;
      font-size: 14px;
      color: #222222;
      font-weight: bold;
      text-transform: capitalize;
      margin-top: 10px;
      height: 42px;
      border: 1px solid #e1e1e1;
    }

    .custom-overlay a:hover {
      color: #eeeeee;
    }
  </style>
{% endblock %}

{% block breadcrumb_title %}
  {% trans "Password Reset" %}
{% endblock %}
{% block breadcrumb_name %}
  {% trans "Password Reset" %}
{% endblock %}
{% block breadcrumb_path %}
  {% trans "Home" %}
{% endblock %}
{% block breadcrumb_url %}
  /
{% endblock %}

{% block inner %}

  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <div class="custom-overlay">
    <div class="login-content">
      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

      <form method="POST" action="{% url 'account_reset_password' %}"
            class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">{% trans 'Reset My Password' %}</button>
      </form>

      <p>{% blocktrans %}Please contact us if you have any trouble resetting
        your password.{% endblocktrans %}</p>
    </div>
  </div>
{% endblock %}
