form {
    width: 1175px
}
fieldset.games {
    box-shadow: 0 4px 8px 0 rgba(158, 10, 15, 0.78);
    transition: 0.3s;
    border-radius: 8px;
    padding: 50px;
}

label {
    font-weight: bold;
}

ul li {
    list-style-type: none;
}
.form-row {
    width: min-content;
    float:left;
}

.field-opciones a {
    padding: 10px
}
.field-opciones img:hover {
    transform: scale(1.5);
}

.field-opciones img {
    width: 29px;
    height: 29px;
}

.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 25px !important;
}

td.field-photo .image-cropper {
    display: block;
    margin-left: auto !important;
    margin-right: auto;
}

.field-photo label, .field-manual label, .field-photo_back label {
    cursor: pointer;
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255,255,255,0.7);
    transition: 0.4s ease;
    width: 100%;
}
.field-photo, .field-manual, .field-photo_back {
    width: 320px;
    margin-left: 45px;
}
.aligned .form-row input {
    width: 300px;
}
.field-gender .related-widget-wrapper, .field-origen , .field-format {
    float: left;
    overflow: hidden;
    width: 300px;
}

.field-category{
    float: none;
    overflow: hidden;
}
.field-saga{
    width:370px
}


.field-photo_back {
     margin-left: 140px;
}

#id_photo, #id_manual, #id_photo_back{
    display: none;
}

.snapshot-generator {
  display: block;
  height: 1px;
  left: 0;
  object-fit: contain;
  position: fixed;
  top: 0;
  width: 1px;
  z-index: -1;
}

.field-origen {
    float: left;
    overflow: hidden;
    width: 325px;
}
.form-row-no-overflows .related-widget-wrapper {
    overflow: visible;
    width: 320px;
    margin-right: 20px
}
.vLargeTextField, .vXMLLargeTextField {
    width: 31em;
}
form .chips .chip, form .chips .control {
    font-size: 1.5rem;
    line-height: 1.9rem;
    vertical-align: top;
}
.alone .field-photo{
float:none;
}

.alone.name .field-name {
    float: none;
}
.alone2.name .field-title, .alone2.name .field-year {
    float: none;
}
.alone2.name .field-photo {
    float:left;
}
.alone2.name .field-photo_back {
   margin-left: 25px;
}

.field-description textarea {
    margin: 0px 0px 2px; 
    width: 1140px; 
    height: 175px;
}

.field-name textarea {
    margin: 0px 0px 2px; 
    width: 775px; 
    height: 201px;
}
#id_type {
    width:300px
}

#id_description {
        width: 596px !important;
    height: 87px !important;
    margin: 0px 0px 2px !important;
}

#id_requirement {
        height: 217px !important;
    width: 625px !important;
}

#id_synopsis {
        height: 229px !important;
    width: 993px !important;
}