{% extends "base.html" %}
{% load crispy_forms_filters static i18n account crispy_forms_tags actor_filter series_filter %}
{% block search %}
{% endblock %}
{% block custom_css %}
  <style>
    .movie-single {
      margin-top: 0;
    }

    .movie-single .movie-single-ct .mvcast-item .cast-it a {
      color: #4280bf;
      margin-right: 0;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    @media screen and (max-width: 991px) {
      .movie-img.sticky-sb {
        top: 0 !important;
      }
    }
      .movie-items .movie-item .title-in h6 a {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #fff4e4;
    font-weight: bold;
    text-transform: uppercase;
}
.movie-items .movie-item .title-in h7 a {
    color: #fff4e4;
}

.movie-items .movie-item:hover .title-in, .movie-items .movie-item:hover img {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -moz-opacity: 1;
    -khtml-opacity: 1;
   -webkit-opacity: 1;
   opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
}
    .esp-card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(158, 10, 15, 0.78);
      transition: 0.3s;
      color: #fff4e4;
      margin-bottom: 35px;
      height: 385px;
      background-color: rgba(158, 10, 15, 0.78);
      width: max-content !important;
    }

    .card p:last-child {
      color: #fff4e4;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(220, 248, 54, 0.78);
      color: rgb(220, 248, 54);
    }

    .card .card-content {
      padding: 16px 32px;
    }
    .cate{
        position: absolute;
        bottom: 40px;
        width: 150%;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
      flex: 25%;
      max-width: 25%;
      padding: 0 20px;
    }

    .column img {
      vertical-align: middle;
      width: 100%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .column {
        flex: 50%;
        max-width: 50%;
      }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        flex: 100%;
        max-width: 100%;
      }
    }

    .movie-item {
      margin-bottom: 20px;
    }

    .movie-items .movie-item img {
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      height: 320px;
      width: 100%;
    }

    .pagination li {
      margin-right: 11px;
      margin-bottom: 15px;
    }

    .movie-items .movie-item .title-in {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 30px;
      margin-bottom: 20px;
      bottom: 0;
      left: 0;
      position: absolute;
      margin-right: 20px;
      width: max-content;
    }


  </style>
{% endblock %}

{% block breadcrumb_title %}
  {% trans object.name %}
{% endblock %}
{% block breadcrumb_name %}
  {% trans object.name %}
{% endblock %}
{% block breadcrumb_path %}
  {% trans "Actores" %}
{% endblock %}
{% block breadcrumb_url %}
  /movies/actors/
{% endblock %}

{% block page-single %}
  <div class="page-single movie-single movie_single movie-items">
    <div class="container">
      <div class="row ipad-width2">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="movie-img sticky-sb" style="top: 0px;">
          {% if not object.photo or object.photo == '' %}
                <img src="{% static 'cinema/images/NoImagen.png' %}"
                     alt="" height="435">
          {% else %}
                <img src="{{ object.photo.url }}"
                    alt="" height="435">
          {% endif %}
          </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="movie-single-ct main-content">
            <h1 class="bd-hd">{{ object.name }}</h1>
            <div class="row">
              <div class="row">
                      {% for movie in object|without3d %}
                      <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xs-offset-2
                           col-sm-offset-1 col-md-offset-0">
                            <div class="esp-card movie-item" style="z-index: auto;">
                            <a href="{% url 'site_movies_detail' movie.id %}"
                                   tabindex="0">
                              <div class="mv-img">
                                {% if not movie.photo or movie.photo == '' %}
                                  <img src="{% static 'cinema/images/NoImagen.png' %}"
                                       alt="" height="284" width="185">
                                {% else %}
                                  <img src="{{ movie.photo.url }}"
                                       alt="" height="284" width="185">
                                {% endif %}
                              </div>
                              </a>
                              <div class="title-in">
                                <div class="cate">
                                  {% if movie.definition %}
                                    <span class="red"><a href="#" tabindex="0">
                                {{ movie.definition }}</a></span>
                                  {% endif %}
                                </div>
                              </div>
                              <div class="title-in">
                                <div class="name">
                                <h6><a href="{% url 'site_movies_detail' movie.id %}">
                                  {{ movie.title_eng|truncatechars:15 }}</a></h6>
                                {% if movie.title %}
                                  <h7><a href="#" class="bg">
                                    {{ movie.title|truncatechars:15 }}</a></h7>
                                {% endif %}
                                </div>
                              </div>
                              <div class="description-popup {% if forloop.counter|next_mod:4 != 0 and forloop.counter|mod:4 != 0 %}left{% else %}right{% endif %}">
                                <div class="h-container">
                                  <div class="movie-name">
                                    <h6>{{ movie.title_eng }}</h6>
                                    {% if movie.title %}
                                      <h7>{{ movie.title }}</h7>
                                    {% endif %}
                                  </div>
                                  <div class="genders">
                                      <div class="movie-genre">
                                        <span>
                                          <svg aria-hidden="true" focusable="false"
                                               data-prefix="fas"
                                               data-icon="tag"
                                               class="svg-inline--fa fa-tag fa-w-16 "
                                               role="img" xmlns="http://www.w3.org/2000/svg"
                                               viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                                  d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z">
                                            </path></svg>
                                              {{ movie.gender.name }}
                                        </span>
                                      </div>
                                  {% if movie.sub_genser %}
                                      {% for subg in movie.sub_gender|split:',' %}
                                          <div class="movie-genre">
                                            <span>
                                              <svg aria-hidden="true" focusable="false"
                                                   data-prefix="fas"
                                                   data-icon="tag"
                                                   class="svg-inline--fa fa-tag fa-w-16 "
                                                   role="img" xmlns="http://www.w3.org/2000/svg"
                                                   viewBox="0 0 512 512">
                                                <path fill="currentColor"
                                                      d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z">
                                            </path></svg>
                                                  {{ subg }}
                                            </span>
                                          </div>
                                      {% endfor %}
                                  {% endif %}
                                  </div>
                                  <div class="movie-description">
                                    {% if movie.synopsis or movie.synopsis != '' %}
                                    {{ movie.synopsis|truncatewords:15 }}
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
