{% extends "base.html" %}
{% load crispy_forms_filters static i18n account crispy_forms_tags %}
{% block search %}
{% endblock %}
{% block custom_css %}
  <style>
    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(158, 10, 15, 0.78);
      transition: 0.3s;
      background-color: #9e0a0f;
      color: #ffffff;
      margin-bottom: 35px;
    }

    .card p:last-child {
      color: #ffffff;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(220, 248, 54, 0.78);
      color: rgb(220, 248, 54);
    }

    .card .card-content {
      padding: 16px 32px;
    }
  </style>
{% endblock %}

{% block breadcrumb_title %}
  {% trans "Offers" %}
{% endblock %}
{% block breadcrumb_name %}
  {% trans "Offers" %}
{% endblock %}
{% block breadcrumb_path %}
  {% trans "Home" %}
{% endblock %}
{% block breadcrumb_url %}
  /
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4 col-xs-offset-2
      col-lg-offset-0">
        <a href="{% url 'site_offers_list' %}?q=0"
           onmouseover="this.getElementsByTagName('img')[0].src='{% static 'cinema/images/tarjetas/Videos.jpg' %}'"
           onmouseout="this.getElementsByTagName('img')[0].src='{% static 'cinema/images/tarjetas/Videos2.jpg' %}'"
        >
          <div class="card">
            <img src="{% static 'cinema/images/tarjetas/Videos2.jpg' %}"
                 alt="alphabetic search">
            <div class="card-content">
              <h4><b>Videos</b></h4>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4 col-xs-offset-2
      col-lg-offset-0">
        <a href="{% url 'site_offers_list' %}?q=1"
           onmouseover="this.getElementsByTagName('img')[0].src='{% static 'cinema/images/tarjetas/Musica.jpg' %}'"
           onmouseout="this.getElementsByTagName('img')[0].src='{% static 'cinema/images/tarjetas/Musica2.jpg' %}'"
        >
          <div class="card">
            <img src="{% static 'cinema/images/tarjetas/Musica2.jpg' %}"
                 alt="alphabetic search">
            <div class="card-content">
              <h4><b>Audios</b></h4>
            </div>
          </div>
        </a>

      </div>
      <div class="col-xs-7 col-sm-6 col-md-4 col-lg-4 col-xs-offset-2
      col-lg-offset-0">
        <a href="{% url 'site_offers_list' %}?q=2"
           onmouseover="this.getElementsByTagName('img')[0].src='{% static 'cinema/images/tarjetas/Diversos.jpg' %}'"
           onmouseout="this.getElementsByTagName('img')[0].src='{% static 'cinema/images/tarjetas/Diversos2.jpg' %}'"
        >
          <div class="card">
            <img src="{% static 'cinema/images/tarjetas/Diversos2.jpg' %}"
                 alt="alphabetic search">
            <div class="card-content">
              <h4><b>Diversos</b></h4>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>
{% endblock %}
